<a href="/" aria-current="page" class="logo-link-bloc w-inline-block w--current"><img src="/static/images/logo-SSI-DS.png" loading="lazy" sizes="(max-width: 479px) 80px, (max-width: 991px) 130px, 160px" srcset="images/logo-SSI-DS-p-500.png 500w, images/logo-SSI-DS-p-1600.png 1600w, images/logo-SSI-DS.png 1600w" alt="" class="image-logo-tank"></a>

<div class="ariane-div">
  <div class="ariane">/ {{ .Site.Params.title }}<br></div>
  <div class="ariane">/ {{ .Title }}<br></div>
</div>
<div id="w-node-_000de0ce-abc4-a193-6ab7-f148166e5f98-2f1d4f00" class="menu-full-meta-div">
  <div class="menu-left div-block-11">
    <div data-w-id="4d77f485-eec0-3ef0-cb63-2ecc07fa0203" data-is-ix2-target="1" class="menu" data-animation-type="lottie" data-src="/6262a9ca7f26ceb2f05c01ee_lf30_editor_XLPk4g.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="4" data-duration="0" data-ix2-initial-state="0"></div>
    <div class="overlay-edit-display">
      <div class="menu-links">
        <a href="/" aria-current="page" class="link-3 w--current">Accueil</a>
        <a href="projets" class="link-3">Projets</a>
        <a href="actualites" class="link-3">Actualités</a>
        <a href="mediatheque" class="link-3">Médiathèque</a>
        <a href="veille" class="link-3">Veille</a>
        <a href="a-propos" class="link-3">À propos</a>
        <a href="contact.html" class="link-3">Contact</a>
      </div>
      <div class="socials">
        <a href="https://www.tank-ssi.org/membres/erasme" class="social-links">ERASME</a>
        <a href="https://www.tank-ssi.org/membres/tuba" class="social-links">TUBÀ</a>
        <a href="https://www.tank-ssi.org/membres/universitelyon" class="social-links">UNIVERSITÉ DE LYON</a>
        <a href="https://www.tank-ssi.org/membres/urbalyon" class="social-links">URBALYON</a>
      </div>
      <div class="menu-bg"></div>
    </div>
    <div class="overlay-edit-display">
      <div class="menu-links">
        <a href="/" aria-current="page" class="link-3 w--current">Accueil</a>
        <a href="/projets" class="link-3">Projets</a>
        <a href="/actualites" class="link-3">Actualités</a>
        <a href="/mediatheque" class="link-3">Médiathèque</a>
        <a href="/veille" class="link-3">Veille</a>
        <a href="a-propos.html" class="link-3">À propos</a>
        <a href="contact.html" class="link-3">Contact</a>
      </div>
      <div class="socials">
        <a href="https://www.tank-ssi.org/membres/erasme" class="social-links">ERASME</a>
        <a href="https://www.tank-ssi.org/membres/tuba" class="social-links">TUBÀ</a>
        <a href="https://www.tank-ssi.org/membres/universitelyon" class="social-links">UNIVERSITÉ DE LYON</a>
        <a href="https://www.tank-ssi.org/membres/urbalyon" class="social-links">URBALYON</a>
      </div>
      <div class="menu-bg"></div>
    </div>
  </div>
  <div class="overlay-edit-display">
    <div class="menu-links">
      <a href="index.html" aria-current="page" class="link-3 w--current">Accueil</a>
      <a href="projets.html" class="link-3">Projets</a>
      <a href="actualites.html" class="link-3">Actualités</a>
      <a href="mediatheque.html" class="link-3">Médiathèque</a>
      <a href="veille.html" class="link-3">Veille</a>
      <a href="a-propos.html" class="link-3">À propos</a>
      <a href="contact.html" class="link-3">Contact</a>
    </div>
    <div class="socials">
      <a href="https://www.tank-ssi.org/membres/erasme" class="social-links">ERASME</a>
      <a href="https://www.tank-ssi.org/membres/tuba" class="social-links">TUBÀ</a>
      <a href="https://www.tank-ssi.org/membres/universitelyon" class="social-links">UNIVERSITÉ DE LYON</a>
      <a href="https://www.tank-ssi.org/membres/urbalyon" class="social-links">URBALYON</a>
    </div>
    <div class="menu-bg"></div>
  </div>
</div>