{{ partial "head.html" . }}
<body class="body-6">
  {{ partial "nav.html" . }}
  <div class="section-top-accueil _90 wf-section">
    <h1 class="textheading1-general">{{ .Site.Params.title }}<strong class="bold-text-3"><br></strong></h1>
    <h1 class="heading-accueil">{{ .Site.Params.slogan }}</h1>
    <a href="a_propos" class="button-4 accueil w-button">À propos du dispositif</a>
    <div class="three w-embed"><canvas class="webgl"></canvas></div>
  </div>
  <div class="section-cto-accueil _1 wf-section">
    <div class="masonry-grid">
      
      <a data-w-id="a2e8da1b-675b-f849-872f-c8f83de8ad99" href="projets" class="link-block-projets w-inline-block">
        <div class="div-cto-pic">
          <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="div-cto-pic-intra"><img src="/static/images/accueil-projets.jpg" loading="lazy" width="960" sizes="(max-width: 991px) 314.8666687011719px, 28vw" srcset="images/accueil-projets-p-500.jpg 500w, images/accueil-projets-p-800.jpg 800w, images/accueil-projets.jpg 960w" alt="" class="image-18"></div>
        </div>
        <div class="div-cto-text-white">
          <div class="div-center">
            <h2 class="titre-div-chapitres">Projets</h2>
            <p class="paragraph">{{ $.Site.Params.projets }}</p><img src="/static/images/arrowFichier-12x.png" loading="lazy" width="25" alt="" class="arrow">
          </div>
        </div>
      </a>
      <a data-w-id="a32b4228-048e-1e71-efea-e5fb86036766" href="mediatheque" class="link-block-projets w-inline-block">
        <div class="div-cto-pic">
          <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="div-cto-pic-intra"><img src="/static/images/accueil-mediatheque3.jpg" loading="lazy" width="960" sizes="(max-width: 991px) 314.8666687011719px, 28vw" srcset="images/accueil-mediatheque3-p-500.jpg 500w, images/accueil-mediatheque3-p-800.jpg 800w, images/accueil-mediatheque3.jpg 960w" alt="" class="image-18"></div>
        </div>
        <div class="div-cto-text-white">
          <div class="div-center">
            <h2 class="titre-div-chapitres">Médiathèque</h2>
            <p class="paragraph">Découvrez une sélection de ressources culturelles et techniques en lien avec l&#x27;industrie.</p><img src="/static/images/arrowFichier-12x.png" loading="lazy" width="25" alt="" class="arrow">
          </div>
        </div>
      </a>
      <a data-w-id="39b42238-e51f-828b-8398-de815ca81dc0" href="membres" class="link-block-projets w-inline-block">
        <div class="div-cto-pic">
          <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="div-cto-pic-intra"><img src="/static/images/accueil-membres.jpg" loading="lazy" width="960" sizes="(max-width: 991px) 314.8666687011719px, 28vw" srcset="images/accueil-membres-p-500.jpg 500w, images/accueil-membres-p-800.jpg 800w, images/accueil-membres.jpg 960w" alt="" class="image-18"></div>
        </div>
        <div class="div-cto-text-white">
          <div class="div-center">
            <h2 class="titre-div-chapitres">Membres</h2>
            <p class="paragraph">Le Think &amp; Do Tank Sciences, Société &amp; Industrie est un consortium réunissant plusieurs structures publiques et parapubliques. <br></p><img src="/static/images/arrowFichier-12x.png" loading="lazy" width="25" alt="" class="arrow">
          </div>
        </div>
      </a>
      <a data-w-id="a32b4228-048e-1e71-efea-e5fb8603675c" href="veille" class="link-block-projets w-inline-block">
        <div class="div-cto-pic">
          <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="div-cto-pic-intra"><img src="/static/images/accueil-veille.jpg" loading="lazy" width="960" sizes="(max-width: 991px) 314.8666687011719px, 28vw" srcset="images/accueil-veille-p-500.jpg 500w, images/accueil-veille-p-800.jpg 800w, images/accueil-veille.jpg 960w" alt="" class="image-18"></div>
        </div>
        <div class="div-cto-text-white">
          <div class="div-center">
            <h2 class="titre-div-chapitres">Veille</h2>
            <p class="paragraph">Veille scientifique, économique et culturelle réalisée par nos membres en lien avec l&#x27;industrie et la médiation industrielle. </p><img src="/static/images/arrowFichier-12x.png" loading="lazy" width="25" alt="" class="arrow">
          </div>
        </div>
      </a>
      <a data-w-id="75c55a9a-9ed8-f2b4-2ac8-fdb1049a8819" href="actualites" class="link-block-projets w-inline-block">
        <div class="div-cto-pic">
          <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="div-cto-pic-intra"><img src="/static/images/accueil-actus.jpg" loading="lazy" width="960" sizes="(max-width: 991px) 314.8666687011719px, 28vw" srcset="images/accueil-actus-p-500.jpg 500w, images/accueil-actus-p-800.jpg 800w, images/accueil-actus.jpg 960w" alt="" class="image-18"></div>
        </div>
        <div class="div-cto-text-white">
          <div class="div-center">
            <h2 class="titre-div-chapitres">Actualités</h2>
            <p class="paragraph">Retrouvez les activités récentes, rencontres et articles de nos membres et partenaires.</p><img src="/static/images/arrowFichier-12x.png" loading="lazy" width="25" alt="" class="arrow">
          </div>
        </div>
      </a>
      <a data-w-id="a32b4228-048e-1e71-efea-e5fb86036770" href="a_propos" class="link-block-projets w-inline-block">
        <div class="div-cto-pic">
          <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="div-cto-pic-intra"><img src="/static/images/accueil-a-propos.jpg" loading="lazy" width="960" sizes="(max-width: 991px) 314.8666687011719px, 28vw" srcset="images/accueil-a-propos-p-500.jpg 500w, images/accueil-a-propos-p-800.jpg 800w, images/accueil-a-propos.jpg 960w" alt="" class="image-18"></div>
        </div>
        <div class="div-cto-text-white">
          <div class="div-center">
            <h2 class="titre-div-chapitres">À propos</h2>
            <p class="paragraph">Présentation du contexte du dispositif, sa génèse (Métropoles Lyon et Saint-Etienne, Banque des Territoires, TIGA...) avec l&#x27;objectif de Reconnecter l&#x27;industrie au territoire et à ses habitants. <br></p><img src="/static/images/arrowFichier-12x.png" loading="lazy" width="25" alt="" class="arrow">
          </div>
        </div>
      </a>
    </div>
  </div>
  {{ partial "footer.html" . }}
</body>