{{ partial "head.html" . }}
<body class="body-6">
  {{ partial "nav.html" . }}
    <div class="section-top-accueil _90 wf-section">
        <h1 class="textheading1-general">{{ .Title }}</h1>
        <h1 class="heading-accueil">{{ .Description }}</h1>
        <div class="three w-embed"><canvas class="webgl"></canvas></div>
      </div>
      <div class="section-cto-projets _1 wf-section">
        <div class="collection-list-wrapper w-dyn-list">
          <div role="list" class="collection-list w-dyn-items">
            <div role="listitem" class="collection-item-5 w-dyn-item">
              <a data-w-id="5e486040-08de-0977-dfdf-2d0b3fcef4cf" href="#" class="link-block-projets w-inline-block">
                <div class="div-cto-pic">
                  <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="div-cto-pic-intra"><img loading="lazy" width="960" src="" alt="" class="image-18"></div>
                </div>
                <div class="div-cto-text-white">
                  <div class="div-center">
                    <h2 class="titre-div-chapitres"></h2>
                    <div class="paragraph">—</div>
                    <p class="paragraph"></p><img src="/static/images/arrowFichier-12x.png" loading="lazy" width="25" alt="" class="arrow">
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
      </div>
    {{ partial "footer.html" . }}
</body>

