{{ partial "head.html" . }}
<body class="body-6">
  {{ partial "nav.html" . }}
    <div class="section-top-project">
      <a href="/" class="logo-link-bloc accueil w-inline-block"
        ><img
          src="https://uploads-ssl.webflow.com/609ba3c20445bde8e0c07bc0/630f70084cd6491a2bb847d5_logo-SSI-DS.png"
          loading="lazy"
          sizes="(max-width: 479px) 80px, (max-width: 991px) 130px, 160px"
          srcset="
            https://uploads-ssl.webflow.com/609ba3c20445bde8e0c07bc0/630f70084cd6491a2bb847d5_logo-SSI-DS-p-500.png   500w,
            https://uploads-ssl.webflow.com/609ba3c20445bde8e0c07bc0/630f70084cd6491a2bb847d5_logo-SSI-DS-p-1600.png 1600w,
            https://uploads-ssl.webflow.com/609ba3c20445bde8e0c07bc0/630f70084cd6491a2bb847d5_logo-SSI-DS.png        1600w
          "
          alt=""
          class="image-logo-tank"
      /></a>

      <div class="div-block-18">
        <h1 class="textheading1 projet">
            {{ .Title }}
        </h1>
      </div>
      <div class="div-block-45"></div>
      <div
        style="
          background-image: url('featured.jpg');
        "
        class="div-block-17"
      ></div>
    </div>
    <div class="section-7">
      <a
        href="https://erasme.org/Classes-Culturelles-Numeriques-1811"
        target="_blank"
        class="button-4 w-button"
        >{{ .Params.textBtn }}</a
      >
      <div class="div-bloc-30px"></div>
      <div class="div-block-16">
        <div
          id="w-node-_3088e6cd-2181-cf0f-8a18-02fc9e8d9dcc-e71d4f13"
          class="div-block-22"
        >
          <div class="div-projet-info">
            <div
              id="w-node-d61ce0bf-3119-9730-82a5-7f08882c48dd-e71d4f13"
              class="project-label"
            >
              {{ .Params.section_1_title }}
            </div>
            <a href="/membres/erasme" class="project-info link"
              >{{ .Params.section_1_text }}</a
            >
          </div>
          <div class="div-projet-info">
            <div class="project-label">{{ .Params.section_2_title }}</div>
            <div class="w-dyn-list">
              <div role="list" class="w-dyn-items">
                <div role="listitem" class="collection-item-3 w-dyn-item">
                  <div class="project-info">{{ .Params.section_2_text }}</div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="div-projet-info">
            <div class="project-label">{{ .Params.section_3_title }}</div>
            <div class="w-dyn-list">
              <div role="list" class="w-dyn-items">
                <div role="listitem" class="collection-item-4 w-dyn-item">
                  <a href="/contact" class="project-info link"
                    >{{ .Params.section_3_text }}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="w-node-f812293c-1e7d-39d4-e3a0-4dba34c21497-e71d4f13"
          class="project-description w-richtext"
        >
        {{ .Content }}
        </div>

      </div>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
